<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.zhyn.mybatis.mapper.TestXmlMapper">

    <resultMap type="kim.zhyn.mybatis.dto.TestDto" id="TestDto">
        <result column="idx" property="idx" />
        <result column="description" property="description" />
    </resultMap>

    <resultMap type="kim.zhyn.mybatis.dto.UserDto" id="UserWithTest">
        <result column="idx" property="idx" />
        <result column="name" property="name" />

        <collection property="testDto" resultMap="TestDto" />
        <!-- ☝️여기서 property 값은 UserDto 클래스에 생성한 변수이름임. -->
    </resultMap>

    <select id="findAllJoinId" resultMap="UserWithTest">
        SELECT  test.idx,
                test.description,
                user.name
          FROM TB_TEST test
    INNER JOIN TB_USER user
         USING (idx)
    </select>

    <select id="findByJoinId" resultMap="UserWithTest">
        SELECT  test.idx,
                test.description,
                user.name
          FROM TB_TEST test
    INNER JOIN TB_USER user
         USING (idx)
         WHERE test.idx = #{idx}
    </select>

    <select id="findAll" resultType="kim.zhyn.mybatis.dto.TestDto">
        select * from tb_test
    </select>

    <select id="findByState" resultType="kim.zhyn.mybatis.dto.TestDto">
        SELECT *
        FROM TB_TEST
        WHERE idx = #{idx}
    </select>
</mapper>
